@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
	box-sizing: border-box;
	background-color: #EDEDED
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

div:focus {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

ul,
li {
	list-style: none
}

/*媒体查询兼容小屏幕*/

@media screen and (max-width:960px) {
	html {
		font-size: 0.8px;
	}
	body {
		font-size: 12px;
	}
}

@media screen and (min-width:960px) and (max-width:1368px) {
	html {
		font-size: 0.9px;
	}
	body {
		font-size: 12px;
	}
}

@media screen and (min-width:1368px) {
	html {
		font-size: 1px;
	}
	body {
		font-size: 12px;
	}
}

//main-container全局样式
.app-main {
	min-height: 100%
}

.app-container {
	padding: 20px;
}

/*通用样式*/

.table-bgc {
	.has-gutter {
		tr,
		th {
			background-color: #e8e8e8;
			th > .cell {
				font-size: 15rem;
				color: #222
			}
		}
		/*table里面的背景灰色*/
	}
}

.table-img {
	height: 40px;
}

/*table 里面的图片高度*/

.erp-header {
	border-bottom: 2px solid #ccc;
	padding-bottom: 15px;
	position: relative;
	h3 {
		font-size: 18rem;
		color: #000; //		font-weight: normal
		.else-con {
			border-left: 2px solid #808080;
			padding-left: 20px;
			margin-left: 20px;
			color: #808080;
			font-weight: normal;
		}
	}
	> div {
		position: absolute;
		top: 10px;
		right: 0;
		overflow: hidden;
		transform: translate(0, -50%);
		.el-button {
			font-size: 12rem;
		}

	}
}
.main_box{
	.th_box{
		margin: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family:'Microsoft yahei';			
	}
}

/*所有的头部导航*/

.table-icon {
	display: flex;
	justify-content: center;
	> span {
		width: 24px;
		color: #000;
		font-weight: bold;
//		background-color: #eee;
		font-size: 18rem;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin: 0 10px;
		&:hover {
			background-color: #DC044D;
			color: #fff;
		}
	}
}
